<!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->
<app-info></app-info>
<div id="container" style="margin: 0 auto; background: rgba(248, 248, 248, 0.582); margin-top: 2%; font-size: x-large;">
  <div class="title"
    style="width: 100%; background-color: aliceblue; height: fit-content; text-align: center; font-weight: bolder; opacity: .6; border-radius: 10px; box-shadow: 0px 2px 2px rgb(155, 155, 155); padding-top: 10px; padding-bottom: 10px;">
    COWIN MAIL NOTIFIER</div>

  <!-- subscribe form start -->
  <form class="example-form" [formGroup]="subscribersForm" style="padding: 20px; text-align: center;"
    *ngIf="formMode == '0'" #formDirective="ngForm">
    <mat-form-field class="email" style="width: 100%;">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="!subscribersForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="!subscribersForm.hasError('email')">
        Email is <strong>invalid</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field class="state" style="width: 100%;">
      <mat-label>Select state</mat-label>
      <mat-select formControlName="state" (selectionChange)="onSelect($event)">
        <mat-option *ngFor="let state of stateList" [value]="state.state_id">
          {{state.state_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="district" style="width: 100%;">
      <mat-label>Select district</mat-label>
      <mat-select formControlName="district" multiple (selectionChange)="onSelectDistrict($event)">
        <mat-option *ngFor="let district of districtList" [value]="district.district_id">
          {{district.district_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp; &nbsp;
    <mat-form-field class="state" style="width: 100%;">
      <mat-label>Age</mat-label>
      <mat-select formControlName="age" [(ngModel)]="selectedAge">
        <mat-option *ngFor="let age of ageList" [value]="age.id">
          {{age.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <br>
    <p *ngIf="subscriptionMessage" style="font-size: small;">{{email_message}} {{district_message}}</p>
    <p *ngIf="subscriptionMessage" style="font-size: small;">
      {{telegramMessage}}
      <strong><a href="{{telegramId}}" target="_blank" rel="noopener noreferrer">{{telegramIdShowName}}</a></strong>
    </p>
    <button mat-raised-button class="tooltip" [disabled]="!subscribersForm.valid" style="width: fit-content;"
      (click)="doSubscribe()" *ngIf="!loading">
      <span class="tooltiptext" *ngIf="!subscribersForm.valid">Fill the form correctly!</span>
      <strong>SUBSCRIBE</strong>
    </button>
    <mat-spinner *ngIf="loading" style="transform: scale(.2); padding: 0; margin: 0 auto;"></mat-spinner>
  </form>
  <!-- subscribe form end -->

  <!-- unsubscribe form start -->
  <form class="example-form" [formGroup]="unSubscribersForm" style="padding: 20px; text-align: center;"
    *ngIf="formMode == '1'" #formDirective="ngForm">
    <mat-form-field class="email" style="width: 100%;">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="u_email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="!unSubscribersForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="!unSubscribersForm.hasError('email')">
        Email is <strong>invalid</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <p style="font-size: 20px; color: red;" *ngIf="subscriptionMessage">{{email_message}}</p>
    <br>
    <button mat-raised-button class="danger tooltip" (click)="doUnSubscribe()" [disabled]="!unSubscribersForm.valid"
      *ngIf="!loading"
      style="text-align: center; margin-bottom: 5px; margin-right: 10px; height: 40px; line-height: 40px; width: fit-content;">
      <span class="tooltiptext" *ngIf="!unSubscribersForm.valid">Enter email first.</span>
      <span class="material-icons">
        remove_circle
      </span>&nbsp;
      <span style="margin-top: auto; font-size: 1.08em;">UNSUBSCRIBE</span>
    </button>
    <mat-spinner *ngIf="loading" style="transform: scale(.2); padding: 0; margin: 0 auto; z-index: 100;"></mat-spinner>
  </form>
  <!-- unsubscribe form end -->

  <!-- edit form start -->
  <form class="example-form" [formGroup]="emailForm" style="padding: 20px; text-align: center;" *ngIf="formMode == '2'"
    #formDirective="ngForm">
    <p style="font-size: small;">Enter your registered mail ID</p>
    <mat-form-field class="email" style="width: 100%;">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="!emailForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="!emailForm.hasError('email')">
        Email is <strong>invalid</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <p style="font-size: 20px; color: red;" *ngIf="subscriptionMessage">{{email_message}}</p>
    <br>
    <button mat-raised-button class="success-btn tooltip" (click)="getUserByMail()" (click)="toggleForm('2')"
      [disabled]="!emailForm.valid" *ngIf="!loading && !editMode"
      style="text-align: center; margin-bottom: 5px; margin-right: 10px; height: 40px; line-height: 40px; width: fit-content;">
      <span class="tooltiptext" *ngIf="!emailForm.valid">Enter email first to update details.</span>
      <span class="material-icons">
        task_alt
      </span>&nbsp;
      <span style="margin-top: auto; font-size: 1.08em;">VALIDATE EMAIL</span>
    </button>
    <mat-spinner *ngIf="loading" style="transform: scale(.2); padding: 0; margin: 0 auto; z-index: 100;"></mat-spinner>
  </form>

    <!-- telegram form start -->
    <form class="example-form" [formGroup]="telegramForm" style="padding: 20px; text-align: center;"
    *ngIf="formMode == '3'" #formDirective="ngForm">
    <mat-form-field class="email" style="width: 100%;">
      <mat-label>Registered Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. abc@test.com">
      <mat-error *ngIf="!telegramForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="!telegramForm.hasError('email')">
        Email is <strong>invalid</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <p style="font-size: 20px; color: red;" *ngIf="subscriptionMessage">
      {{email_message}}
    </p>
    <br>
    <button mat-raised-button class="danger tooltip" (click)="doTelegramSub()" [disabled]="!telegramForm.valid"
      *ngIf="!loading"
      style="text-align: center; margin-bottom: 5px; margin-right: 10px; height: 40px; line-height: 40px; width: fit-content;">
      <span class="tooltiptext" *ngIf="!telegramForm.valid">Enter email first.</span>
      <!-- <span class="material-icons">
        notifications_active
        </span>&nbsp; -->
        <mat-icon svgIcon="telegramIcon"></mat-icon>&nbsp;
      <span style="margin-top: auto; font-size: 1.08em;">SUBSCRIBE TELEGRAM</span>
    </button>
    <mat-spinner *ngIf="loading" style="transform: scale(.2); padding: 0; margin: 0 auto; z-index: 100;"></mat-spinner>
  </form>
  <!-- telegram form end -->

  <!-- update form start -->
  <form class="example-form" [formGroup]="updateForm"
    style="padding: 20px; text-align: center; background-color: rgb(226, 246, 255); border-radius: 10px; margin-top: -5%; margin-bottom: 2%;"
    *ngIf="editMode && formMode == '2'" #formDirective="ngForm">
    <strong style="font-size: medium;">Your subcription activated for</strong><br>
    <ng-container *ngFor="let d of savedDistricts">
      <span
        style="margin-left: 10px; width: max-content; background-color: aquamarine; padding: 4px; border-radius: 4px; font-size: medium;">
        {{d.placeName}}</span>
    </ng-container>
    <br>
    <br>
    <mat-form-field class="state" style="width: 100%;">
      <mat-label>Select state</mat-label>
      <mat-select formControlName="state" (selectionChange)="onSelect($event)">
        <mat-option *ngFor="let state of stateList" [value]="state.state_id">
          {{state.state_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="district" style="width: 100%;">
      <mat-label>Select district</mat-label>
      <mat-select formControlName="district" multiple (selectionChange)="onSelectDistrict($event)">
        <mat-option *ngFor="let district of districtList" [value]="district.district_id">
          {{district.district_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp; &nbsp;
    <mat-form-field class="state" style="width: 100%;">
      <mat-label>Age</mat-label>
      <mat-select formControlName="age" [(ngModel)]="selectedAge">
        <mat-option *ngFor="let age of ageList" [value]="age.id">
          {{age.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <br>
    <p *ngIf="subscriptionMessage" style="font-size: small;">{{email_message}} {{district_message}}</p>
    <button mat-stroked-button class="tooltip" [disabled]="!updateForm.valid" style="width: fit-content;"
      (click)="doUpdate()" *ngIf="!loading">
      <span class="tooltiptext" *ngIf="!updateForm.valid">Fill the form correctly!</span>
      <strong>SAVE CHANGES</strong>
    </button>
    <mat-spinner *ngIf="loading" style="transform: scale(.2); padding: 0; margin: 0 auto;"></mat-spinner>
  </form>
  <!-- update form end -->


  <!-- edit form end -->


  <!-- form mode selection start -->
  <div id="buttom-options"
    style="text-align: center; width: 100%;padding: 10px 0px 10px 0px;border-radius: 10px; background-color: rgb(235, 235, 235);">
    <button mat-raised-button class="danger" (click)="toggleForm('1')" *ngIf="formMode !== '1'"
      style="text-align: center; margin-bottom: 5px; margin-right: 10px; height: 40px; line-height: 40px; width: fit-content;">
      <span class="material-icons">
        remove_circle
      </span>&nbsp;
      <span style="margin-top: auto; font-size: 1.08em;">Unsubscribe Here</span>
    </button>
    <button mat-raised-button class="success-btn" (click)="toggleForm('0')" *ngIf="formMode !== '0'"
      style="text-align: center; margin-bottom: 5px; margin-right: 10px; height: 40px; line-height: 40px; width: fit-content;">
      <span class="material-icons">
        notification_add
      </span>&nbsp;
      <span style="margin-top: auto; font-size: 1.08em;">Subscribe Here</span>
    </button>
    <button mat-raised-button class="edit tooltip" *ngIf="formMode !== '3'" (click)="toggleForm('3')"
      style="height: 40px; margin-right: 10px; line-height: 40px; width: fit-content;">
      <span class="tooltiptext">Telegram notification.</span>
      <!-- <span class="material-icons">
        notifications_active
      </span>&nbsp; -->
      <mat-icon svgIcon="telegramIcon"></mat-icon>&nbsp;
      <span style="margin-top: auto; font-size: 1.08em;">Subscribe Telegram</span>
    </button>
    <button mat-raised-button class="edit tooltip" *ngIf="formMode !== '2'" (click)="toggleForm('2')"
      style="height: 40px; margin-right: 10px; line-height: 40px; width: fit-content;" disabled>
      <span class="tooltiptext">This feature is not available now!</span>
      <span class="material-icons">
        edit
      </span>&nbsp;
      <span style="margin-top: auto; font-size: 1.08em;">Edit preference</span>
    </button>
  </div>
  <!-- form mode selection end -->
</div>